@font-face {
    font-family:InterVariable ;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    font-family: InterVariable;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}
.card-container{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
   
    background-color:hsl(0, 0%, 12%);
    align-items: center;
    border-radius: 10px;
    padding: 30px 10px;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    border-radius: 100px;
}
h2{
    color:hsl(0, 0%, 100%);
    font-weight: 700;

    
}
h4{
    margin: 0;
    color: hsl(75, 94%, 57%);
    font-weight:600 ;
}
p{
    color:hsl(0, 0%, 100%);
    
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
}
button{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    background-color:hsl(0, 0%, 20%);
    color:hsl(0, 0%, 100%);
    border: none;
}
button:hover{
    background-color: hsl(75, 94%, 57%) ;
    cursor: pointer;
}


    
.attribution { font-size: 11px; text-align: center;color:hsl(0, 0%, 100%);position: absolute;bottom: 0;}
    .attribution a { color: hsl(228, 45%, 44%); }